<p>Editing students details:</p>

<form class="" action="/students/<%=@student.id%>" method="post">
  <label for="first-name">First Name:</label>
  <input id="first-name" type="text" value="<%=@student.first_name.capitalize%>" name="first_name" />
</br>
<label for="last-name">Last Name:</label>
<input id="last-name" type="text" value="<%=@student.last_name.capitalize%>" name="last_name" />
</br>
<label for="house_select">Select House:</label>

  <select name="house_id" id="house_select">
    <% for house in @houses %>
    <option value="<%=house%>" <%= 'selected' if @student.house_id == house.id %>><%=house.name.to_s%></option>
    <% end %>
  </select>
</br>
</br>
<label for="age">Age:</label>
<input id="age" type="number" value="<%=@student.age%>" name="age"/>
</br>

<input type='submit' value="Confirm Changes"/>
</form>
